@import url(https://rsms.me/inter/inter.css);
@font-face {
  font-family: "sansationregular";
  src: url("webfonts/Sansation-Regular-webfont.eot");
  src: url("webfonts/Sansation-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-Regular-webfont.woff2") format("woff2"), url("webfonts/Sansation-Regular-webfont.woff") format("woff"), url("webfonts/Sansation-Regular-webfont.ttf") format("truetype"), url("webfonts/Sansation-Regular-webfont.svg#sansationregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationbold";
  src: url("webfonts/Sansation-Bold-webfont.eot");
  src: url("webfonts/Sansation-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-Bold-webfont.woff2") format("woff2"), url("webfonts/Sansation-Bold-webfont.woff") format("woff"), url("webfonts/Sansation-Bold-webfont.ttf") format("truetype"), url("webfonts/Sansation-Bold-webfont.svg#sansationbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationbold_italic";
  src: url("webfonts/Sansation-BoldItalic-webfont.eot");
  src: url("webfonts/Sansation-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-BoldItalic-webfont.woff2") format("woff2"), url("webfonts/Sansation-BoldItalic-webfont.woff") format("woff"), url("webfonts/Sansation-BoldItalic-webfont.ttf") format("truetype"), url("webfonts/Sansation-BoldItalic-webfont.svg#sansationbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationitalic";
  src: url("webfonts/Sansation-Italic-webfont.eot");
  src: url("webfonts/Sansation-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-Italic-webfont.woff2") format("woff2"), url("webfonts/Sansation-Italic-webfont.woff") format("woff"), url("webfonts/Sansation-Italic-webfont.ttf") format("truetype"), url("webfonts/Sansation-Italic-webfont.svg#sansationitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansation_lightlight";
  src: url("webfonts/Sansation-Light-webfont.eot");
  src: url("webfonts/Sansation-Light-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-Light-webfont.woff2") format("woff2"), url("webfonts/Sansation-Light-webfont.woff") format("woff"), url("webfonts/Sansation-Light-webfont.ttf") format("truetype"), url("webfonts/Sansation-Light-webfont.svg#sansation_lightlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansation_lightlight_italic";
  src: url("webfonts/Sansation-LightItalic-webfont.eot");
  src: url("webfonts/Sansation-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/Sansation-LightItalic-webfont.woff2") format("woff2"), url("webfonts/Sansation-LightItalic-webfont.woff") format("woff"), url("webfonts/Sansation-LightItalic-webfont.ttf") format("truetype"), url("webfonts/Sansation-LightItalic-webfont.svg#sansation_lightlight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "sansationregular";
  background-color: #090909;
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 4.4rem;
}

strong {
  font-weight: normal;
  font-family: "sansationbold";
}

.section.hero {
  background-image: url(../images/herobg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 250px;
  padding-bottom: 60px;
  color: #D75353;
}
.section.hero .text {
  background-color: #090909;
  max-width: 945px;
  margin: 0 auto;
  padding: 10px 30px;
}
.section.cetup {
  font-family: "Inter var", sans-serif;
  background-color: #E7F0FF;
  color: #2C559A;
  padding: 100px 0;
}
.section.cetup .contents {
  max-width: 945px;
  margin: 0 auto;
  padding: 10px 30px;
}
.section.cetup .contents p {
  margin-bottom: 8rem;
}
.section.cetup .contents a {
  color: #2C559A;
}
.section.cetup .contents .cetup-screenshot {
  height: 70vw;
  max-height: 69.5rem;
  background-image: url(../images/cetup_scr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8rem;
}
.section.cetup .contents .cetup-logo {
  height: 20rem;
  background-image: url(../images/cetup.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 8rem;
}

/*# sourceMappingURL=style.css.map */
