@use 'webfonts/fonts'

$color-anthracite: #090909
$color-yellow: #D5D679
$color-green: #79D684
$color-blue: #5395D7
$color-red: #D75353

html
    font-size: 10px

body
    font-family: 'sansationitalic'
    background-color: $color-anthracite
    font-size: 2.4rem
    margin: 0
    padding: 0

h1,h2,h3
    font-weight: normal
    font-size: 4.4rem

strong
    font-weight: normal
    font-family: 'sansationbold_italic'

.section
    &.hero
        background-image: url(../images/herobg.svg)
        background-repeat: no-repeat
        padding-top: 250px
        padding-bottom: 60px
        color: $color-red
        background-position: top left
        .text
            background-color: $color-anthracite
            max-width: 945px
            margin: 0 auto
            padding: 10px 30px
    &.cetup
        font-family: 'Inter var', sans-serif
        background-color: #E7F0FF
        color: #2C559A
        padding: 100px 0
        line-height: 1.5
        .contents
            max-width: 945px
            margin: 0 auto
            padding: 10px 30px
            p
                margin-bottom: 8rem
            a
                color: #2C559A
            .cetup-screenshot
                height: 70vw
                max-height: 69.5rem
                background-image: url(../images/cetup_scr.png)
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                margin-bottom: 8rem
            .cetup-logo
                height: 20rem
                background-image: url(../images/cetup.svg)
                background-size: contain
                background-repeat: no-repeat
                margin-bottom: 8rem
    &.audioplayer
        font-family: 'Roboto', sans-serif
        background-color: #222222
        color: #4A90E2
        font-size: 1.6rem
        line-height: 1.5
        .ap-logo
            height: 2.2rem
            background-image: url(../images/audioplayer.svg)
            background-size: contain
            background-repeat: no-repeat
            margin: 10rem 0 5rem 0
        .ap-paragraph
            @media screen and (min-width:40em)
                display: flex
                gap: 2rem
        .contents
            max-width: 945px
            margin: 0 auto
            padding: 10px 30px
        h2
            font-size: 2.2rem
            color: #FDEC1D
        a
            color: #4A90E2
